## 1. Imports

In [1]:
# import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 2. Load data

In [2]:
# read csv file
wiid = pd.read_csv("../data/wiid.csv")

# print shape, info
print(wiid.shape)
print(wiid.info())

(11101, 55)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11101 entries, 0 to 11100
Data columns (total 55 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  11101 non-null  int64
 1   country             11101 non-null  object
 2   c3                  11101 non-null  object
 3   c2                  11093 non-null  object
 4   year                11101 non-null  int64
 5   gini_reported       11054 non-null  float64
 6   q1                  7097 non-null   float64
 7   q2                  6933 non-null   float64
 8   q3                  6959 non-null   float64
 9   q4                  6965 non-null   float64
 10  q5                  7098 non-null   float64
 11  d1                  6264 non-null   float64
 12  d2                  6258 non-null   float64
 13  d3                  6258 non-null   float64
 14  d4                  6258 non-null   float64
 15  d5                  6278 non-null   float64
 16  d6                  6283 non-null   float64
 17  d7                  6289 non-null   float64
 18  d8                  6286 non-null   float64
 19  d9                  6300 non-null   float64
 20  d10                 6338 non-null   float64
 21  bottom5             1595 non-null   float64
 22  top5                2179 non-null   float64
 23  resource            11100 non-null  object
 24  resource_detailed   11101 non-null  object
 25  scale               10596 non-null  object
 26  scale_detailed      10596 non-null  object
 27  sharing_unit        10599 non-null  object
 28  reference_unit      11066 non-null  object
 29  areacovr            11101 non-null  object
 30  areacovr_detailed   11101 non-null  object
 31  popcovr             11101 non-null  object
 32  popcovr_detailed    11101 non-null  object
 33  region_un           11101 non-null  object
 34  region_un_sub       11101 non-null  object
 35  region_wb           11101 non-null  object
 36  eu                  11101 non-null  object
 37  oecd                11101 non-null  object
 38  incomegroup         11101 non-null  object
 39  mean                5786 non-null   float64
 40  median              4520 non-null   float64
 41  currency            6712 non-null   object
 42  reference_period    6776 non-null   object
 43  exchangerate        10135 non-null  float64
 44  mean_usd            1654 non-null   float64
 45  median_usd          1650 non-null   float64
 46  gdp_ppp_pc_usd2011  7692 non-null   float64
 47  population          11043 non-null  float64
 48  revision            6644 non-null   object
 49  quality             11101 non-null  object
 50  quality_score       11101 non-null  int64
 51  source              11101 non-null  object
 52  source_detailed     11101 non-null  object
 53  source_comments     5539 non-null   object
 54  survey              4071 non-null   object
dtypes: float64(25), int64(3), object(27)
memory usage: 4.7+ MB
None

## 3. Subset dataframe to columns of interest

In [12]:
# define columns of interest
cols = ['country', 'year', 'gini_reported', 'region_un', 'region_un_sub', 'region_wb', 'eu', 'oecd', 'incomegroup',
        'mean', 'median', 'mean_usd', 'median_usd', 'currency', 'exchangerate', 'gdp_ppp_pc_usd2011', 'population']

# subset to columns of interest
wiid_subset = wiid[cols]

# print shape, head of subset
print(wiid_subset.shape)
wiid_subset.head()

(11101, 17)

,country,year,gini_reported,region_un,region_un_sub,region_wb,eu,oecd,incomegroup,mean,median,mean_usd,median_usd,currency,exchangerate,gdp_ppp_pc_usd2011,population
0,Afghanistan,2008,29.00,Asia,Southern Asia,South Asia,Non-EU,Non-OECD,Low income,36588.00,NaN,NaN,NaN,Afghan afghani,50.249615,1298.0,27294031.0
1,Albania,1996,27.01,Europe,Southern Europe,Europe and Central Asia,Non-EU,Non-OECD,Upper middle income,2255.40,1982.16,2255.0,1982.0,US$2011PPP,104.498917,4812.0,3092228.0
2,Albania,2002,31.74,Europe,Southern Europe,Europe and Central Asia,Non-EU,Non-OECD,Upper middle income,2305.20,1901.52,2305.0,1902.0,US$2011PPP,140.154516,6316.0,3119029.0
3,Albania,2005,30.60,Europe,Southern Europe,Europe and Central Asia,Non-EU,Non-OECD,Upper middle income,2605.92,2217.48,2606.0,2217.0,US$2011PPP,99.870254,7563.0,3079179.0
4,Albania,2008,29.98,Europe,Southern Europe,Europe and Central Asia,Non-EU,Non-OECD,Upper middle income,2850.24,2385.12,2850.0,2385.0,US$2011PPP,83.894604,9018.0,2991651.0

## Visualizations

### 1. Distribution of GDP by region

### 2. Distribution of income groups by region

### 3. Distribution of Gini index by region

### 4. Distribution of population by region

### 5. Distribution of GDP and Gini index by EU and OECD affliation